<% @jobs.each do |job| %>
  <div class="vaga">
    <h1><%=link_to(job.title,job)%></h1>
    <hr>
    <dl>
      <dt>Empresa</dt>
      <dd><%= job.company %></dd>
      <dt>Localização</dt>
      <dd><%= job.location %></dd>
    </dl>
  </div>
<% end %>
