<% @jobs.each do |job| %>
  <div class="vaga">
    <h1><%=link_to(job.title,job)%></h1>
    <hr>

    <p class='left'>Empresa</p>
    <p class='right'><%= job.company.name %></p>
    <p class="left">Localização</p>
    <p class='right'><%= job.location %></p>

    <% if job.featured? %>
      <p class="left"><strong>Destaque</strong></p>
    <% end %>

  </div>
<% end %>

<section class='companies'>
  <% @companies.each do |company| %>
    <p><%= link_to company.name, company%></p>
  <% end %>
</section>
