<% @jobs.each do |job| %>
  <div class="vaga">
    <h1><%=link_to(job.title,job)%></h1>
    <hr>

    <p class='left'>Empresa</p>
    <p class='right'><%= job.company %></p>
    <p class="left">Localização</p>
    <p class='right'><%= job.location %></p>
    </dl>
  </div>
<% end %>
