body {
  font-family: sans-serif;
}

dl{
  width: 100%;
}

dt {
  font-weight: bold;
  float: left;
  width: 30%;

}

dd {
  padding-left: 70px;
  float: right;
  width: 70%;
}

.vaga{
  width: 80%;
  border-radius: 5px;
  padding: 5px 10px;
  display: inline-block;
}


#title{
  color: #ccc;

}

label{
  display: inline-block;
  width: 100px;
}

.left{
  display: inline-block;
  float: left;
  width: 30%;
  font-weight: bold;
}

.right{
  display: inline-block;
  float: right;
  width: 70%
}

.field_with_errors{
  display: inline-block;
  color:red;
}

.notice{
  color:red;
}
